{% extends 'master_page.html' %}

{% block title %}
    Payment failed
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="card-panel center z-depth-5">
            <i class="material-icons red-text large">not_interested</i> <h3 class="center">Payment failed</h3>
            <h5 class="center">We are sorry !</h5>
        </div>
        <br>--
        ][-0
        <br>
        <a class="waves-effect waves-light btn-large" href="{% url "app_base_home" %}">
            <i class="material-icons left">home</i>
            Back to home
        </a>
        <a class="waves-effect waves-light btn-large" href="{% url 'app_base_cart' %}">
            <i class="material-icons left">format_list_numbered</i>
            Try again
        </a>
    </div>
{% endblock %}
