{% extends 'master_page.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        {% include "_partials/_slider.html" %}
        <br>
        <div class="row">
            {% for product in products %}
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ product.image.url }}">
                        </div>
                        <div class="card-content">
                            <p class="truncate">{{ product.name }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{ product.get_url }}">More details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{#Flash messages#}
{% block javascript %}
    {{ block.super }}
    {% if messages %}
        {% for message in messages %}
            <script>
                $(document).ready(function () {
                    M.toast({html: "{{ message }}"})
                })
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
{#Flash messages#}