{% extends "master_page.html" %}
{% load static %}

{% block title %}
    Log in
{% endblock %}

{% block content %}

    <div class="container">
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn waves-effect waves-light" type="submit" name="action">Log in
                <i class="material-icons right">send</i>
            </button>
        </form>
        <br>
        <br>
        <p>No registered yet !</p>
        <a href="/signup/{% if path %}?next={{ path }}{% endif %} " class="btn waves-effect waves-light" type="button" >Sign up
            <i class="material-icons right">account_circle</i>
        </a>
    </div>
{% endblock %}
