{% extends "master_page.html" %}
{% load static %}

{% block title %}
    Log in
{% endblock %}

{% block content %}

    <div class="container">
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {#{{ field.errors }}#}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button class="btn waves-effect waves-light" type="submit" name="action">Log in
                <i class="material-icons right">send</i>
            </button>
        </form>
        <br>
        <br>
        <p>No registered yet !</p>
        <a href="/signup/" class="btn waves-effect waves-light" type="button">Sign
            up
            <i class="material-icons right">account_circle</i>
        </a>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}


    {#Field errors#}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <script>
                    $(document).ready(function () {
                        M.toast({html: "{{ field.label }}: {{ error|escape }}"})
                    })
                </script>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {#Non field errors#}
    {% if form.non_field_errors %}
        {% for err in form.non_field_errors %}
            <script>
                $(document).ready(function () {
                    M.toast({html: "{{ err }}"})
                })
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}