{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/mcss.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
<main>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">TutoProject</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!-- Modal Trigger -->
                <li><a class=" modal-trigger" href="#modal1"><i class="material-icons left">search</i>Search</a>
                </li>
                <li>
                    <a class="dropdown-trigger" href="#" data-target="dropdown1">Course Category
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="dropdown2">{{ user.username }}
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                {% else %}
                    <li><a href="{% url 'app_base_signup' %}">Sign up</a></li>
                    <li><a href="{% url 'app_base_login' %}">Log in</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Search</h4>
            <form action="{% url 'app_base_search' %}" method="get">
                <div class="input-field">
                    <input id="search" type="search" name="course" required>
                    <label class="label-icon" for="search"></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </div>


    <ul id="dropdown1" class="dropdown-content">
        {% for category in links %}
            <li><a href="{{ category.get_url }}">{{ category.name }}</a></li>
        {% endfor %}
        <li class="divider"></li>
        <li><a href="{% url "app_base_home" %}">All</a></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#">Profile</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'app_base_logout' %}">Logout</a></li>
    </ul>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Courses</a></li>
        <li><a href="{% url 'app_base_signup' %}">Sign up</a></li>
        <li><a href="{% url 'app_base_login' %}">Log in</a></li>
    </ul>
    {% block content %}

    {% endblock %}
</main>
<footer class="page-footer teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">TutoProject</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">All course</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">About us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 TutoProject
        </div>
    </div>
</footer>
<!-- Compiled and minified JavaScript -->
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="{% static 'js/mjs.js' %}"></script>
{% endblock %}

</body>
</html>